<%= simple_form_for @booking, url: new_booking_path, method: :get, local: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="columns">
    <div class="column">
      <% @flights.each do |flight| %>
        <div class="field">
          <div class="control">
            <nav class="level box">
              <input type="radio" name="flight-selection">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">From</p>
                  <p class="title is-7"><%= flight.from_airport.code %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">To</p>
                  <p class="title is-7"><%= flight.to_airport.code %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Date</p>
                  <p class="title is-7"><%= flight.date.strftime('%B %-d, %Y') %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Time</p>
                  <p class="title is-7"><%= flight.time.strftime('%l:%M %p') %></p>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="field is-hidden">
          <div class="control">
            <%= select_tag(:num_of_passengers, options_for_select([""])) %>
          </div>
        </div>
      <% end %>
    </div>
      <div class="column is-3" id="fixed-button">
        <div class="field">
          <div class="control">
            <%= f.button :submit, class: "button is-link" %>
          </div>
        </div>
      </div>
  </div>
<% end %>