<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="level box">
          <div class="level-item">
            <div>
              <p class="title is-5">Search</p>
              <%= render 'search' %>
            </div>
          </div>
        </div>
      </div>
      <div class="column has-text-centered">
        <% @flights.first(25).each do |flight| %>
          <nav class="level box">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">From</p>
                <p class="title is-7"><%= flight.from_airport.code %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">To</p>
                <p class="title is-7"><%= flight.to_airport.code %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Date</p>
                <p class="title is-7"><%= flight.date.strftime('%B %-d, %Y') %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Time</p>
                <p class="title is-7"><%= flight.time.strftime('%l:%M %p') %></p>
              </div>
            </div>
          </nav>
        <% end %>
      </div>
    </div>
  </div>
</section>