
<%= simple_form_for(@booking, local: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <% i = 1 %>
    <%= f.simple_fields_for :passengers do |p|%>
      <p class="title is-5">Passenger <%= i %></p>
      <div class="field">
        <div class="control has-icons-left">
          <%= p.input_field :name,
                             class: "input is-info is-small",
                             label: false,
                             placeholder: 'Name' %>
          <span class="icon is-left">
            <i class="fa fa-signature"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <%= p.input_field :email,
                      class: "input is-info is-small",
                      label: false,
                      placeholder: 'Email Address' %>
          <span class="icon is-left">
            <i class="fa fa-at"></i>
          </span>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
    <div class="field is-hidden">
      <div class="control">
        <%= f.input :flight_id, as: :hidden, value: params[:flight_id] %>
      </div>
    </div>
    <div class="field is-hidden">
      <div class="control">
        <%= f.input :num_of_passengers, as: :hidden, value: params[:num_of_passengers] %>
      </div>
    </div>
    <br>
  <div class="form-actions">
    <%= f.button :submit, class: "button is-info" %>
  </div>
<% end %>
